/**/

aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}
aside.logo a {
    background-color: var(--bg-dark);
    margin: 15px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: var(--shadow);
}

aside.logo a:hover {
    background: linear-gradient(45deg, #000000 20%, #ffffff 80%);
}

aside.logo img {
    height: 8vh;
}