.logo {
    background: var(--bg-dark);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.logo img {
    margin: 15px 20px;
    width: 20%;
}

.logo a {
    width: 100%;
}

.logo a:hover {
    background: linear-gradient(to bottom, #7fddf5 20%, #000000 80%);
}