aside.menu-area {
    display: flex;
    margin-left: 5%;
}

aside.menu-area a {
    
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    width: min-content;
}

.menu-info {
    padding-right: 15px !important;
}

.menu a{
    margin: 0px !important;
}